
@{
    ViewData["Title"] = "AllocateRole";
}

<h1>Allocate Role</h1>

<form method="post" action="/Roles/AllocateRole">
    <select class="form-control" name="role">
        <option value="DRIVER">Driver</option>
        <option value="PASSENGER">Passenger</option>
        <option value="USER">User</option>
    </select>

    <input type="submit" value="choose role"  class="form-control" />
</form>


